<div class="parallax-container med">
    <div class="parallax"><img src="/static/images/cats3.jpg"></div>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <img src="/static/images/logo.png">
      <p> was created to inspire the world to write more poems. </p>
    </div>
  </div>
</div>
