<div class="container">
  <div class="row">
    <div class="col s12 center">
    <ul>
      {{#each poems}}
      <li>
        {{name}} <br><br>
        {{poem}} <br><br>
      </li>
    {{/each}}
    </ul>
    </div>
  </div>
</div>
