
<img class="img-poem" src="/static/images/background2.png">
<div class="container">
  <div class="row">
    <div class="col s4">
      <h3 style="color: #ffab91"> Create a Poem </h3>
    </div>

    <div class="col s4">
      <div class="blue-grey-text lighten-3">
        Word Search:
        <div class="input-field inline">
          <input placeholder="Enter a Word" id="word" name="word" type="text">
        </div>
        <button class="btn waves-effect waves-light deep-orange lighten-3" onclick="getSynonyms()"> Synonyns</button>
        <button class="btn waves-effect waves-light brown lighten-3" onclick=" getRhymes()"> Rhymes </button>
      </div>
  </div>

    <div class="col s4 blue-grey-text lighten-3">
             <p id='synonyms'></p>
             <p id="rhymes"></p>
    </div>
</div>

<br><br>



  <!-- <img src="/static/images/cats4.jpg"> -->

      <form action="/add_poem" method="POST" class="col s12">
        <input name="uid" value="" id="uid" type="hidden">
        <div class="row">

        <div class=" printcol s4 blue-grey-text lighten-3">
          <p>Poem by: </p><p id="poem-by"></p>
        </div>

        <div class="col s4 print">
          <div class="input-field white">
            <input id="createPoem1" type="text" name="title">
            <label for="title">Title</label>
          </div>
        </div>
      </div>

        <div class="row print">
          <div class="input-field col s12">
            <input id="createPoem1" type="text" name="createPoem1">
            <label for="createPoem1">Line 1</label>
          </div>
        </div>

        <div class="row print">
          <div class="input-field col s12">
            <input id="createPoem2" type="text" name="createPoem2">
            <label for="createPoem2">Line 2</label>
          </div>
        </div>

        <div class="row print">
          <div class="input-field col s12">
            <input id="createPoem3" type="text" name="createPoem3">
            <label for="createPoem3">Line 3</label>
          </div>
        </div>

        <div class="row print">
          <div class="input-field col s12">
            <input id="createPoem4" type="text" name="createPoem4">
            <label for="createPoem4">Line 4</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <button class="waves-effect waves-blue-grey green lighten-3 btn" type="submit"><i class="material-icons left">save</i>Save</button>
          </form>
            <button class="waves-effect waves-blue-grey deep-orange lighten-3 btn" onclick="window.print(); return false;"><i class="material-icons left">print</i>Print</a>
          </div>
        </div>
</div>



<script>
function getSynonyms() {
  var word = document.getElementById("word").value;
  axios.get('http://api.wordnik.com:80/v4/word.json/'+ word +'/relatedWords?useCanonical=false&relationshipTypes=synonym&limitPerRelationshipType=10&api_key='+"{{key}}")
  .then(function (r) {
    console.log(r);

        document.getElementById("synonyms").innerHTML = r.data[0].words;
    })
  }

function getRhymes() {
  var word = document.getElementById("word").value;

  axios.get('http://api.wordnik.com:80/v4/word.json/'+ word +'/relatedWords?useCanonical=false&relationshipTypes=rhyme&limitPerRelationshipType=10&api_key='+"{{key}}")
  .then(function (r) {
    console.log(r);
    var rhymes= r.data[0].words;
    console.log(rhymes)
    document.getElementById("rhymes").innerHTML = rhymes;
    // var newRhymes = rhymesArray.replace(/,/gi, "\n").replace(/^,/,"");
    // document.getElementById("rhymes").innerHTML = rhymes.replace(/,/g, '<br>');
  })
}

  </script>
