<div class="row">
  <div class="col s12">
    <h3 class="brown-text lighten-3"> Poem Deleted!</h3>
    <p>  Click <a href="/mypoems/">here</a> to view, or click the My Poems link at the top.</p>
  </div>
</div>

<div class="parallax-container med">
    <div class="parallax"><img src="/static/images/bluecats.jpg"></div>
  </div>
