<div class="parallax-container">
    <div class="parallax"><img src="/static/images/banner6.png"></div>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h4 style="color: #b9f6ca;"> Welcome Poets and Dreamers!</h4>

    </div>
  </div>
</div>
