<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Sedgwick+Ave|Shadows+Into+Light" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav>
      <div class="nav-wrapper green accent-1">
        <a href="/"><img src="/static/images/logo6.png"></a>
         <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/mypoems/" class="white-text">My Poems</a></li>
          <li><a href="/create/" class="white-text" onclick="poemBy()">Create</a></li>
          <li><a href="/about/" class="white-text">About</a></li>
          <li><a href="javascript: void(0);"  onclick="auth()" class="white-text">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="side-nav white" id="slide-out">
    <li class="center" style="color: #ffab91;">PoeticPlay</li>
      <div class="divider"></div>
    <li><a style="color: #b9f6ca" href="/mypoems/">My Poems</a></li>
    <li><a style="color: #b9f6ca" href="/create/">Create</a></li>
    <li><a style="color: #b9f6ca" href="/about/">About</a></li>
    <li><a style="color: #b9f6ca" href="javascript: void(0);" onclick="auth()">Login</a></li>
    <li><img src="/static/images/catplay.png" class="center" width="200px"></li>
</ul>



{{{body}}}

    <!-- Footer -->
    <footer class="page-footer green accent-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Word of the Day</h5>

                <p id="wordOfTheDay" class="deep-orange-text accent-3 text-lighten-4"></p>
                <p id="definition" class="white-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Poems</h5>
                <ul>
                  <p class="white-text">Coming Soon!</p>
                  <!-- <li><a class="grey-text text-lighten-3" href="#!">Lyric</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Narrative</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Limerick</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Haiku</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Poetic Play

          <button class="white-text green accent-1 right btn-flat" onclick="logout()">Logout</button> <br><br>
          <p id="loggedout" class="white-text center"></p>

            </div>
          </div>
        </footer>


    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDmHw5tmejf8lLcNonkQURS36ZKFyYhPvI",
        authDomain: "poeticplay-6ad97.firebaseapp.com",
        databaseURL: "https://poeticplay-6ad97.firebaseio.com",
        projectId: "poeticplay-6ad97",
        storageBucket: "",
        messagingSenderId: "593313669273"
      };
      firebase.initializeApp(config);
    </script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/frontend.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
  function wordTest() {
    axios.get('http://api.wordnik.com:80/v4/words.json/wordOfTheDay?api_key=bb9ea069b0f1078b1600007e92e096555a5f94077056a0812')
    .then(function (word) {
      console.log(word);
      document.getElementById("wordOfTheDay").innerHTML = word.data.word;
      document.getElementById("definition").innerHTML = word.data.examples[0].text;
    })
  }
  wordTest();

    </script>
  </body>
</html>
