<div class="row">
  <div class="col s12 center">
    <h3> My Poems</h3>
    <ul>
      {{#each poems}}
      <li>
        <form action="/poem/" method="GET">
        <a href="/poem/">
          {{name}}
        </a><br><br>
        </form>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
