<div class="container">
  <div class="row">
    <div class="col s12 center">
      {{name}}<br>
        {{#each poem}}
        {{this}}<br>
        {{/each}}
    </div>
  </div>
</div>

<script>

</script>
